.popup__closer {
  height: 32px;
  width: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 568px) {
  .popup__closer {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}